<h1>Novo Classificado</h1>

<% form_for(@ad) do |f| %>

  <%= render :partial => 'form_fields', :locals =>{:f => f} %>
  <p>
    <%= f.submit 'Criar' %>
  </p>
<% end %>

<%= link_to 'Voltar', ads_path %>